@font-face {
    font-family: 'CustomFont';
    src: url('SUSE-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-bg: #f0f0f0;
    --primary-border: #ccc;
    --primary-color: #555;
    --highlight-bg: #eef;
    --highlight-border: #00f;
    --error-color: red;
    --button-bg: #cfcfcf;
    --button-color: white;
    --button-hover-bg: #cfcfcf;
    --preview-bg: rgb(102, 163, 137);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'CustomFont', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-bg);
}

button {
    font-family: 'CustomFont', sans-serif;
    background-color: var(--button-bg);
    color: var(--button-color);
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-bg);
}

.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-bg);
}

.upload-box {
    border: 2px dashed var(--primary-border);
    border-radius: 13px;
    background-color: #fff;
    padding: 100px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.upload-box.dragover {
    border-color: var(--highlight-border);
    background-color: var(--highlight-bg);
}

.upload-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.upload-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.upload-subtext {
    color: #888;
    font-size: 14px;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none; /* Элемент будет невидим и не интерактивен */
}

.visible {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.display-none {
    display: none !important;
}

#errorContainer {
    border: 2px dashed #f04040;
    border-radius: 13px;
    background-color: #fff;
    padding: 100px;
    text-align: center;
    margin-top: 20px;
}

#errorMessage {
    color: var(--error-color);
    font-weight: bold;
}

#fileName {
    color: var(--primary-color);
}

#loader {
    /* Полный экран для перекрытия всего */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Располагаем анимацию и текст по вертикали */
    z-index: 1000; /* Поверх всех элементов */
}

#loaderAnimation {
    /* Миниатюрная анимация */
    width: 60px;
    height: 60px;
    --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
    background: 
      var(--_g) 0% 50%,
      var(--_g) 50% 50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}

#loaderText {
    margin-top: 15px; /* Отступ между анимацией и текстом */
    font-family: 'CustomFont', sans-serif;
    font-size: 16px;
    color: #000; /* Цвет текста */
}

@keyframes l3 {
    20% {background-position: 0% 0%, 50% 50%, 100% 50%}
    40% {background-position: 0% 100%, 50% 0%, 100% 50%}
    60% {background-position: 0% 50%, 50% 100%, 100% 0%}
    80% {background-position: 0% 50%, 50% 50%, 100% 100%}
}


#tryAgainButton {
    margin-top: 10px;
    padding: 10px;
}

#previewImg {
    position: relative;
    text-align: center;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#previewImage {
    max-width: 70vw;
    max-height: 70vh;
    height: auto;
    width: auto;
    object-fit: contain;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    position: relative; /* Добавлено, чтобы toolbar позиционировался относительно изображения */
}

.image-toolbar {
    position: absolute;
    top: -2%; /* Расположим над изображением */
    left: -1%; /* Небольшой отступ от левого края изображения */
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.image-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
}

.toolbar-button {
    background: none;
    border: none;
    padding: 2px;
    cursor: pointer;
}

.toolbar-icon {
    width: 12px;
    height: 12px;
}

/* Основное окно редактирования */
.edit-window {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transition: left 0.5s ease; /* Плавное появление */
    z-index: 1000;
}

.edit-window.visible {
    left: 0;
}
/* Основное окно редактирования */

/* Заголовок */
.edit-header {
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #bcbcbc;
}

.edit-header h2 {
    font-size: 16px;
    margin: 0;
}

.close-button {
    background: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.close-button img {
    width: 16px;
    height: 16px;
}

.edit-content { /* Основное содержимое окна */
    display: flex;
    flex-grow: 1;
}
/* Заголовок */

/* Левая панель инструментов */
.toolbar {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #ffffff;
    padding: 10px;
    border-right: 1px solid #bcbcbc;
}

.tool-button {
    display: flex;
    color:#000;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: left;
}

.tool-button:hover {
    color: #33aada;
    background-color: rgba(0, 0, 0, 0.1);
}

.tool-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    transition: 0.3s ease;
}

.tool-button:hover img {
    filter: invert(75%) sepia(100%) saturate(10000%) hue-rotate(180deg) brightness(100%) contrast(100%);
}
/* Левая панель инструментов */

/* Рабочая область */
.workspace {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    position: relative;
    overflow: hidden;
}

/* Изображение в рабочей области */
.workspace img {
    max-width: 70vw;
    max-height: 70vh;
    height: auto;
    width: auto;
    object-fit: contain; /* Изображение вписывается в контейнер, сохраняя пропорции */
}
/* Рабочая область */

/* Правая панель (инспектор) */
.inspector {
    width: 300px;
    background-color: #ffffff;
    padding: 10px;
    border-left: 1px solid #bcbcbc;
}

/* Стили для параметров обрезки */
.crop-params {
    padding: 10px;
}
.crop-params label {
    font-size: large;
}
.crop-params select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 7px;
    border-color: #33aada;
    border-width: 3px;
    font-size: large;
}
/* Стили для параметров обрезки */

/* Стили для параметров изменения размеров изображения */
.resize-params {
    display: flex;
    flex-direction: column; /* Элементы расположены в колонку */
    gap: 10px; /* Пробел между элементами */
    padding: 10px;
}
.resize-params label {
    font-size: large;
}
.resize-params input {
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    border-color:rgb(214, 214, 214);
    outline: none;
    background: transparent;
    box-shadow: none;
    font-size: larger;
    padding: 0px 10px;
}
/* Стили для параметров изменения размеров изображения */

/* Стили для параметров поворота и переворота изображения */
.rotate-flip-params {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Отступ между строками */
}

.button-group {
    display: flex;
    gap: 15px; /* Отступ между кнопками */
    align-self: center;
}

.custom-rotate-group {
    display: flex;
    align-items: center; /* Вертикальное выравнивание */
    gap: 15px; /* Отступ между полем и кнопкой */
    align-self: center;
}

.rotate-flip-params button {
    background: none;
    border: 1px solid #acacac;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s ease, border-radius 0.2s ease; /* Плавный переход для увеличения и закругления */
    border-radius: 5px; /* Изначальная округлая граница */
}

.rotate-flip-params button img {
    width: 70px;
    height: 70px;
    margin: 10px;
}

.rotate-flip-params button:hover {
    transform: scale(1.1); /* Увеличиваем размер при наведении */
}

.rotate-flip-params label {
    font-weight: bold;
    margin-bottom: 5px;
}
/* Стили для параметров поворота и переворота изображения */

/* Стили для параметров слайдеров */
.adjust-params input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #33aada 50%, #ccc 50%); /* Полоска с цветом слева и серым справа */
    border-radius: 5px;
    outline: none;
    transition: background 0.3s ease;
}
/* Ползунок */
.adjust-params input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #33aada; /* Цвет кружка */
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
    position: relative;
    z-index: 1;
}
.adjust-params label {
    font-size: larger;
}
/* Стили для параметров слайдеров */

/* Стили для параметров фильтров */
.filter-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.filter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.filter-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    border: 2px solid transparent; /* Прозрачная граница по умолчанию */
    border-radius: 5px;
    transition: border 0.3s ease; /* Плавное изменение границы */
}

.filter-button:hover {
    border-color: #33aada; /* Голубая граница при наведении */
}

.filter-button.active {
    border-color: #33aada; /* Голубая граница при выборе */
}

/* Контейнер для изображения */
.img-wrapper {
    width: 72px;
    height: 72px;
    overflow: hidden;
    border-radius: 5px;
}

.filter-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; /* Анимация при наведении */
}

/* Увеличение изображения при наведении */
.filter-button:hover img {
    transform: scale(1.1);
}

/* Стили для подписей */
.filter-group span {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
/* Стили для параметров фильтров */

/* Выпадающий список */
.dropdown-elements {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

/* Когда панель видима */
.dropdown-elements.visible {
    opacity: 1;
    pointer-events: auto;
}

/* Стили для кнопки Elements */
#elementsButton {
    position: relative;
}

/* Стили для кнопок инструментов */
.dropdown-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.dropdown-button:hover {
    background-color: #f0f0f0;
}

/* Стили для изображений и текста внутри кнопки */
.dropdown-button img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
}

.dropdown-button span {
    font-size: 14px;
    color: #000;
}
/* Выпадающий список */

/* Правая панель (инспектор) */

/* Нижняя панель кнопок */
.edit-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    height: 60px;
    background-color: #ffffff;
    border-top: 1px solid #bcbcbc;
}
/* Нижняя панель кнопок */

#revertButton, #cancelButton {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 1px solid rgb(79, 79, 79);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#revertButton:hover, #cancelButton:hover {
    background-color: #cfcfcf;
}

#saveButton {
    background-color: #33aada;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#saveButton:hover {
    background-color: #2c92ba;
}

#undoButton, #redoButton {
    background: none;
    border: none;
    cursor: pointer;
}

#undoButton:hover, #redoButton:hover {
    background-color: #cfcfcf;
}

#undoButton img, #redoButton img {
    width: 24px;
    height: 24px;
}




@media (max-width: 768px) {
    .upload-box {
        padding: 50px;
    }

    .upload-text {
        font-size: 16px;
    }

    .upload-subtext {
        font-size: 12px;
    }
}
